[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggside"]
	path = ggside
	url = https://github.com/jtlandis/ggside
	shallow = true
	registered = true
